<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.AEacute</key>
	<array>
		<string>AEacute</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Edotaccent</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Zdotaccent</string>
		<string>aeacute</string>
		<string>cdotaccent</string>
		<string>edotaccent</string>
		<string>napostrophe</string>
		<string>oslashacute</string>
		<string>uni0407</string>
		<string>uni0419</string>
		<string>uni0439</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern1.Agrave</key>
	<array>
		<string>Agrave</string>
		<string>Egrave</string>
		<string>Ograve</string>
		<string>Ugrave</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>egrave</string>
		<string>ograve</string>
		<string>omacron</string>
		<string>ugrave</string>
		<string>umacron</string>
		<string>uni0400</string>
		<string>uni0450</string>
	</array>
	<key>public.kern1.Aogonek</key>
	<array>
		<string>Aogonek</string>
		<string>iogonek</string>
	</array>
	<key>public.kern1.Ccedilla</key>
	<array>
		<string>Ccedilla</string>
		<string>Scedilla</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>ij</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>uni0123</string>
		<string>uni013C</string>
		<string>uni0458</string>
		<string>uni045E</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
	</array>
	<key>public.kern1.Eng</key>
	<array>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Uogonek</string>
		<string>uni0402</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>P</string>
		<string>Tbar</string>
		<string>V_T_F</string>
		<string>question</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>registered</string>
		<string>trademark</string>
		<string>uni0420</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>ampersand</string>
		<string>uni0122</string>
	</array>
	<key>public.kern1.Gbreve</key>
	<array>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
	</array>
	<key>public.kern1.Hbar</key>
	<array>
		<string>Hbar</string>
		<string>t</string>
	</array>
	<key>public.kern1.Igrave</key>
	<array>
		<string>Igrave</string>
		<string>Wgrave</string>
		<string>hbar</string>
		<string>uni040D</string>
		<string>uni045B</string>
		<string>uni045D</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.Lacute</key>
	<array>
		<string>Lacute</string>
		<string>Lcaron</string>
	</array>
	<key>public.kern1.Oslash</key>
	<array>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>at</string>
		<string>copyright</string>
		<string>dollar</string>
		<string>uni0424</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>uni0422</string>
	</array>
	<key>public.kern1.Yacute</key>
	<array>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cent</string>
		<string>e</string>
		<string>h</string>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>oe</string>
		<string>oslash</string>
		<string>p</string>
		<string>s</string>
		<string>thorn</string>
		<string>u</string>
		<string>uni042A</string>
		<string>uni042C</string>
		<string>uni0430</string>
		<string>uni0432</string>
		<string>uni0435</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni043A</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0448</string>
		<string>uni044B</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0454</string>
		<string>uni0455</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
	</array>
	<key>public.kern1.acute</key>
	<array>
		<string>acute</string>
		<string>asciicircum</string>
		<string>breve</string>
		<string>caron</string>
		<string>circumflex</string>
		<string>dcaron</string>
		<string>dieresis</string>
		<string>lcaron</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0490</string>
	</array>
	<key>public.kern1.aogonek</key>
	<array>
		<string>aogonek</string>
		<string>uogonek</string>
	</array>
	<key>public.kern1.asciitilde</key>
	<array>
		<string>asciitilde</string>
		<string>equal</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>grave</string>
		<string>macron</string>
	</array>
	<key>public.kern1.braceleft</key>
	<array>
		<string>braceleft</string>
		<string>parenleft</string>
	</array>
	<key>public.kern1.braceright</key>
	<array>
		<string>braceright</string>
		<string>numbersign</string>
	</array>
	<key>public.kern1.bullet</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
	</array>
	<key>public.kern1.ccedilla</key>
	<array>
		<string>ccedilla</string>
		<string>g</string>
		<string>q</string>
		<string>scedilla</string>
		<string>uni0443</string>
		<string>y</string>
	</array>
	<key>public.kern1.dcroat</key>
	<array>
		<string>dcroat</string>
		<string>eth</string>
	</array>
	<key>public.kern1.degree</key>
	<array>
		<string>degree</string>
		<string>f</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>public.kern1.dotaccent</key>
	<array>
		<string>dotaccent</string>
		<string>quoteleft</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.ellipsis</key>
	<array>
		<string>ellipsis</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern1.emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>plus</string>
	</array>
	<key>public.kern1.eng</key>
	<array>
		<string>eng</string>
		<string>eogonek</string>
	</array>
	<key>public.kern1.greater</key>
	<array>
		<string>greater</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglright</string>
		<string>less</string>
	</array>
	<key>public.kern1.iacute</key>
	<array>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>uni0457</string>
	</array>
	<key>public.kern1.igrave</key>
	<array>
		<string>igrave</string>
		<string>imacron</string>
	</array>
	<key>public.kern1.longs</key>
	<array>
		<string>longs</string>
		<string>uni0403</string>
		<string>uni0453</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>uni0157</string>
	</array>
	<key>public.kern1.uni0136</key>
	<array>
		<string>uni0136</string>
		<string>uni0156</string>
		<string>uni0218</string>
		<string>uni040F</string>
	</array>
	<key>public.kern1.uni0137</key>
	<array>
		<string>uni0137</string>
		<string>uni0146</string>
		<string>uni0219</string>
		<string>uni045F</string>
	</array>
	<key>public.kern1.uni0162</key>
	<array>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern1.uni0163</key>
	<array>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern1.uni0409</key>
	<array>
		<string>uni0409</string>
		<string>uni040A</string>
	</array>
	<key>public.kern1.uni0411</key>
	<array>
		<string>uni0411</string>
		<string>uni0431</string>
	</array>
	<key>public.kern1.uni0414</key>
	<array>
		<string>uni0414</string>
		<string>uni0426</string>
		<string>uni0429</string>
	</array>
	<key>public.kern1.uni0434</key>
	<array>
		<string>uni0434</string>
		<string>uni0446</string>
		<string>uni0449</string>
	</array>
	<key>public.kern1.uni044A</key>
	<array>
		<string>uni044A</string>
		<string>uni044C</string>
		<string>uni0459</string>
		<string>uni045A</string>
	</array>
	<key>public.kern2.AEacute</key>
	<array>
		<string>AEacute</string>
		<string>Iacute</string>
		<string>Nacute</string>
		<string>Wacute</string>
		<string>aeacute</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>oslashacute</string>
		<string>wacute</string>
	</array>
	<key>public.kern2.Aacute</key>
	<array>
		<string>Aacute</string>
		<string>Cacute</string>
		<string>Eacute</string>
		<string>Lacute</string>
		<string>Oacute</string>
		<string>Racute</string>
		<string>Sacute</string>
		<string>Uacute</string>
		<string>Zacute</string>
		<string>aacute</string>
		<string>amacron</string>
		<string>cacute</string>
		<string>eacute</string>
		<string>emacron</string>
		<string>nacute</string>
		<string>oacute</string>
		<string>omacron</string>
		<string>racute</string>
		<string>sacute</string>
		<string>uacute</string>
		<string>umacron</string>
		<string>uni0403</string>
		<string>uni040C</string>
		<string>uni0453</string>
		<string>uni045C</string>
		<string>zacute</string>
	</array>
	<key>public.kern2.Cdotaccent</key>
	<array>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Edotaccent</string>
		<string>Gdotaccent</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Itilde</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Zdotaccent</string>
		<string>cdotaccent</string>
		<string>edotaccent</string>
		<string>uni0407</string>
		<string>uni040D</string>
		<string>uni0419</string>
		<string>uni045D</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>zdotaccent</string>
	</array>
	<key>public.kern2.Euro</key>
	<array>
		<string>Euro</string>
		<string>braceleft</string>
		<string>numbersign</string>
	</array>
	<key>public.kern2.Hbar</key>
	<array>
		<string>Hbar</string>
		<string>uni0452</string>
	</array>
	<key>public.kern2.Idotaccent</key>
	<array>
		<string>Idotaccent</string>
		<string>a</string>
		<string>ae</string>
		<string>aogonek</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>eng</string>
		<string>eogonek</string>
		<string>kgreenlandic</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>oe</string>
		<string>oslash</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scedilla</string>
		<string>u</string>
		<string>uni0430</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0435</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni043A</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0441</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni044B</string>
		<string>uni044C</string>
		<string>uni044D</string>
		<string>uni044E</string>
		<string>uni044F</string>
		<string>uni0454</string>
		<string>uni0455</string>
		<string>uni045A</string>
		<string>uni045F</string>
		<string>uni0491</string>
		<string>uogonek</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>uni0408</string>
		<string>uni0409</string>
	</array>
	<key>public.kern2.Lslash</key>
	<array>
		<string>Lslash</string>
		<string>lslash</string>
	</array>
	<key>public.kern2.Oslash</key>
	<array>
		<string>Oslash</string>
		<string>at</string>
		<string>copyright</string>
		<string>dollar</string>
		<string>uni0424</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>uni0422</string>
	</array>
	<key>public.kern2.Tbar</key>
	<array>
		<string>Tbar</string>
		<string>four</string>
		<string>registered</string>
		<string>seven</string>
	</array>
	<key>public.kern2.Ycircumflex</key>
	<array>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2._empty_lu.0_st.2_cl.0</key>
	<array/>
	<key>public.kern2.acute</key>
	<array>
		<string>acute</string>
		<string>asterisk</string>
		<string>macron</string>
	</array>
	<key>public.kern2.asciicircum</key>
	<array>
		<string>asciicircum</string>
		<string>breve</string>
		<string>caron</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>quotedbl</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>ring</string>
		<string>tilde</string>
	</array>
	<key>public.kern2.asciitilde</key>
	<array>
		<string>asciitilde</string>
		<string>equal</string>
	</array>
	<key>public.kern2.bar</key>
	<array>
		<string>bar</string>
		<string>iogonek</string>
	</array>
	<key>public.kern2.braceright</key>
	<array>
		<string>braceright</string>
		<string>parenright</string>
	</array>
	<key>public.kern2.bullet</key>
	<array>
		<string>bullet</string>
		<string>periodcentered</string>
	</array>
	<key>public.kern2.degree</key>
	<array>
		<string>degree</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>public.kern2.dotaccent</key>
	<array>
		<string>dotaccent</string>
		<string>quoteright</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.ellipsis</key>
	<array>
		<string>ellipsis</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.emdash</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>logicalnot</string>
		<string>plus</string>
	</array>
	<key>public.kern2.g</key>
	<array>
		<string>g</string>
		<string>p</string>
		<string>uni0440</string>
		<string>uni0443</string>
		<string>y</string>
	</array>
	<key>public.kern2.gbreve</key>
	<array>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>ij</string>
		<string>thorn</string>
		<string>uni045E</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.gdotaccent</key>
	<array>
		<string>gdotaccent</string>
		<string>uni0123</string>
	</array>
	<key>public.kern2.greater</key>
	<array>
		<string>greater</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>less</string>
	</array>
	<key>public.kern2.hbar</key>
	<array>
		<string>hbar</string>
		<string>uni045B</string>
	</array>
	<key>public.kern2.ibreve</key>
	<array>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>uni0457</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
		<string>uni0458</string>
	</array>
	<key>public.kern2.lacute</key>
	<array>
		<string>lacute</string>
		<string>one</string>
		<string>uni042A</string>
	</array>
	<key>public.kern2.longs</key>
	<array>
		<string>longs</string>
		<string>tbar</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>quotesinglbase</string>
	</array>
	<key>public.kern2.uni013C</key>
	<array>
		<string>uni013C</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>public.kern2.uni0146</key>
	<array>
		<string>uni0146</string>
		<string>uni0219</string>
	</array>
	<key>public.kern2.uni0162</key>
	<array>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>public.kern2.uni0402</key>
	<array>
		<string>uni0402</string>
		<string>uni040B</string>
	</array>
</dict>
</plist>
